*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    display: grid;
    grid-template-columns: 25vw 25vw 25vw ;
    column-gap: 20px;
    justify-content:space-around ;

}
.carteCon{position: relative;
    margin-top: 25px;
    
    height: 80vh;
}
.hover{
   
    transition-duration: 2s;
   transition-property: transform;
   transform-style: preserve-3d;
    height: 80vh;

}
.flep ,.back1{
   position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow: 5px 5px 5px gray;
    top:50px;
    backface-visibility: hidden;
    overflow: hidden
  
}
.img{
    height: 50%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient( rgba(0, 128, 0, 0.438),rgba(200, 255, 0, 0.829));
}
.flep>ul{
    position: absolute;
    list-style: none;
    color: rgb(95, 92, 92);
    left:50%;
    top:55%;
    transform:translate(-50%,-50%);
    
}
.flep>ul>li{
    text-align: center;
    margin-top: 20px;
    border-bottom:black 1px solid;
}
.flep>ul>li:last-child{
    border: none;
}
.back1{
 display: block;
 background-image: radial-gradient(rgb(84, 173, 84),rgb(49, 141, 88));
 transform: rotatey(180deg);
}
.carteCon:hover .hover{
    transform: rotateY(180deg);
}
.mobileDes{
    display: none;
    height: 31%;
    width: 100%;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%);
    background-image: radial-gradient(rgb(84, 173, 84),rgb(49, 141, 88));
    position: absolute;
    top:80%;
    border-radius: 0 0 10px 10px;
    left:1px

}

    

 @media only screen and (max-width: 790px){
    .carteCon:hover .hover{
        transform: none;
    }
    .mobileDes{display: block;}
   
    .img{
        height: 40%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
        border-radius: 10px 10px 0 0;
        background-image: linear-gradient( rgba(0, 128, 0, 0.438),rgba(200, 255, 0, 0.829));
    }
    
    .container{
        grid-template-columns: 70vw  ;
        grid-template-rows: 30% 30% 30%;
        row-gap:30px;                    
        backface-visibility: visible; }
                           
                           
                           } 
                        



